@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	margin: 0;
	padding:0;
}
a{
	text-decoration:none;
	color:white;
}
.logo {
	background:#000;
	width:100%;	

}

.graphic {
	padding:5px;
	max-width:100%;
	box-sizing: border-box;
	height:130px;
	width:130px;
	vertical-align:middle;
}
.logo1 {
	background:#fff;
	width:100%;	

}

.a {
	 font-size: 20px;
  font-size: 2.3rem;
  font-weight: 500;
 margin-left:50px;
 font-style:italic;

}


nav{
	margin:auto;
	width:650px;
	height;100px;
}
.topnav{
	background-color:#fff;
	font-size:14px;
	margin-top:40px;
}
.topnav a{
	color:#000;
	text-align:center;
	padding: 14px 16px;
	font-size:15px;
}
.topnav a:hover{
	border-bottom: 2px solid #000;

}




.content {
	width: 80%;
	margin:50 auto;
	text-align:center;
	
}
.content img {
	max-width:100%;
}
.content p {
   margin-top:20px;
   text-align:justify;
   text-align:center;
 
   
}
.content h2 {
   margin-top:20px;
   
   
}


























footer{
	background-color:#fff;
	padding-top:25px;
	width:100%;
	height:auto;
	margin: 0 auto;
    text-align:center;	
}
footer a {
	color:black;
	font-size:14px;
	margin-left:10px;
}
footer nav a:hover{
	border-bottom:1px solid black;
}	
	
footer #social img {
	width:50px;
	height:50px;
	float:center;
	margin-left:10px;
    margin-bottom:10px;
}
footer #social img:hover {
	background:#494949;
	border-radius:50%;
}
.ikonki1:hover{
background: #f1f1f1;	
}

.ikonki:hover{
opacity: 0.7;	
}